.features {
  padding: 120px 0;
}

.features-title {
}
.features-list {
  display: flex;
  gap: 24px;
}
.features-item {
  width: calc((100% - 24px * 3) / 4);
}
.features-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;

  margin-bottom: 8px;
  margin-top: 8px;
}
.features-text {
}

.features-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
}
.features-icon {
}
