.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;

  z-index: 999;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 0;

  max-width: 408px;
  max-height: 582px;
  width: 100%;
  border-radius: 4px;
  padding: 72px 24px 24px;

  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, opacity;
}

.backdrop.is-open .modal {
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;

  transition-delay: 300ms;
}

.modal-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  padding: 0;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;
  width: 24px;
  height: 24px;

  background: #e7e9fc;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}

.modal-btn:hover .modal-btn-icon,
.modal-btn:focus .modal-btn-icon {
  color: #fff;
}

.modal-btn-icon {
  align-items: center;
  color: #2e2f42;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.modal-caption {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.5;
}
.modal-form {
}
.modal-form-field {
  width: 100%;
}
.modal-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-form-wrapper {
  position: relative;
  margin-bottom: 8px;
}
.modal-form-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  height: 40px;
  line-height: 1.5;

  background-color: transparent;
  outline: transparent;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #2e2f42;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.modal-form-input:focus + .modal-form-icon {
  color: #4d5ae5;
}

.modal-form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  height: 120px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;

  background-color: transparent;
  outline: transparent;
  margin-bottom: 16px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-color;
}
.modal-form-comment::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-form-comment:focus {
  border-color: #4d5ae5;
}
.modal-form-agreement {
  margin-bottom: 24px;
  gap: 8px;
}
.checkbox {
}

.checkbox:checked + .modal-form-policy .modal-form-checkbox {
  background-color: #404bbf;
}

.checkbox:checked + .modal-form-policy .modal-form-checkbox-icon {
  opacity: 1;
  color: #f4f4fd;
}

.sr-only-icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.modal-form-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.modal-form-checkbox-icon {
  opacity: 0;
}

.modal-form-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.btn-filled {
  display: block;
  margin: 0 auto;

  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  width: 169px;
  height: 56px;
}
