.team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}
.team-item {
  width: 264px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
@media only screen and (min-width: 768px) {
  .team-list {
    gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .team {
    padding: 120px 0;
  }
  .team-item {
  }
}

.team-img {
  display: block;
  width: 100%;
  height: auto;
}
.team-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}
.team-text {
  text-align: center;

  margin-bottom: 8px;
}

.team-wrapper {
  padding: 32px 16px;
}
